In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
infile = '/home/harald/projects/somatic/test_samples/pvac/sample_report.filtered.tsv'
df = pd.read_table(infile, header=0)
df.columns

Index(['sample', 'Chromosome', 'Start', 'Stop', 'Reference', 'Variant',
       'Transcript', 'Transcript Support Level', 'Ensembl Gene ID',
       'Variant Type', 'Mutation', 'Protein Position', 'Gene Name', 'HGVSc',
       'HGVSp', 'HLA Allele', 'Peptide Length', 'Sub-peptide Position',
       'Mutation Position', 'MT Epitope Seq', 'WT Epitope Seq',
       'Best MT Score Method', 'Best MT Score', 'Corresponding WT Score',
       'Corresponding Fold Change', 'Tumor DNA Depth', 'Tumor DNA VAF',
       'Tumor RNA Depth', 'Tumor RNA VAF', 'Normal Depth', 'Normal VAF',
       'Gene Expression', 'Transcript Expression', 'Median MT Score',
       'Median WT Score', 'Median Fold Change', 'MHCflurry WT Score',
       'MHCflurry MT Score', 'MHCnuggetsI WT Score', 'MHCnuggetsI MT Score',
       'PickPocket WT Score', 'PickPocket MT Score', 'NetMHC WT Score',
       'NetMHC MT Score', 'SMM WT Score', 'SMM MT Score', 'SMMPMBEC WT Score',
       'SMMPMBEC MT Score'],
      dtype='object')

In [3]:
df['Best MT Score Method'].value_counts()

MHCnuggetsII    21415
MHCnuggetsI      3056
NNalign          1791
MHCflurry         714
NetMHC            482
SMM               360
SMMPMBEC          309
PickPocket        266
SMMalign          218
Name: Best MT Score Method, dtype: int64

In [4]:
df['Variant Type'].value_counts()

missense       27261
FS               634
inframe_ins      476
inframe_del      240
Name: Variant Type, dtype: int64

In [5]:
# Length of 15 only occurs for MHCnuggetsII, NNalign and SMMalign (i.e. classII predictors)
# Lengths 8, 9, 10 only occurs for the classI predictors
df['Peptide Length'].value_counts()

15    23424
9      3083
10     1878
8       226
Name: Peptide Length, dtype: int64

In [13]:
df['Gene Name'].describe()

count     28611
unique     9793
top         NEB
freq         65
Name: Gene Name, dtype: object

In [17]:
df['sample'].value_counts().median()

586.0

In [6]:
df.groupby('Best MT Score Method')[['Best MT Score','Corresponding Fold Change']].median()

                      Best MT Score  Corresponding Fold Change
Best MT Score Method
MHCflurry                 20.632734                     1.4230
MHCnuggetsI               20.492983                     1.4810
MHCnuggetsII              44.311927                     1.2190
NNalign                   32.200000                     1.0160
NetMHC                    13.645000                     1.5050
PickPocket                38.330621                     1.2825
SMM                       21.551155                     1.2330
SMMPMBEC                  17.690000                     1.2345
SMMalign                  84.500000                     1.0000

In [7]:
df.groupby('sample')[['Best MT Score','Corresponding Fold Change']].median()

         Best MT Score  Corresponding Fold Change
sample
BTN-034      24.445588                     1.1440
BTN-035      22.810490                     1.1580
BTN-039      20.621902                     1.1295
BTN-040      65.100000                     1.1095
BTN-041      22.534358                     1.2000
BTN-042      25.584370                     1.1310
BTN-043      49.709895                     1.2580
BTN-044      66.914196                     1.3340
BTN-046      81.762507                     1.2245
BTN-047      40.355017                     1.2415
BTN-048      37.976122                     1.3585
BTN-049      21.406452                     1.1340
BTN-050      46.147011                     1.1750
BTN-051      34.654919                     1.2250
BTN-052      54.892039                     1.2945
BTN-053      30.206674                     1.2070
BTN-054      20.097219                     1.1625
BTN-055      40.945432                     1.3035
BTN-056      51.074565                     1.2610
BTN-057      69.835467                     1.2085
BTN-058      59.980750                     1.3160
BTN-059      34.371877                     1.3305
BTN-060      54.758875                     1.2770
BTN-061      31.773185                     1.2480
BTN-062      40.700000                     1.2095
BTN-063      74.340000                     1.2470
BTN-064      56.561587                     1.2415
BTN-065      19.398659                     1.1385
BTN-066      21.670552                     1.2040
BTN-068      21.569244                     1.1880
BTN-070      20.756390                     1.1930
BTN-071      21.468464                     1.1185
BTN-073      54.041718                     1.2350
BTN-074      21.739771                     1.1375
BTN-075      87.621909                     1.0755
BTN-076      39.046776                     1.2355
BTN-077      42.756823                     1.3225
BTN-078      28.600000                     1.0465
BTN-079      38.649719                     1.2940
BTN-080      70.200000                     1.2060
BTN-081      24.790001                     1.1590
BTN-082      33.406887                     1.2970
BTN-084      54.657616                     1.2580
BTN-085      45.338089                     1.2160
BTN-086      36.055453                     1.3070
BTN-088      31.784620                     1.3290
BTN-089      35.804008                     1.2630
BTN-091      45.075833                     1.2980
BTN-092      30.760823                     1.3810

In [8]:
df['HLA Allele'].value_counts()

DQA1*02:01      1757
DRB1*12:02      1738
DQB1*03:01      1599
DRB1*15:02      1560
DRB1*14:04      1378
DQB1*06:01      1330
DRB1*09:01      1311
DQA1*01:01      1277
DRB1*14:01      1236
DQA1*01:02      1174
DRB1*14:05      1070
DRB1*07:01       961
HLA-A*02:03      600
DRB1*15:01       599
DRB1*04:03       569
DQA1*06:01       550
HLA-A*11:50Q     502
DRB1*14:10       454
HLA-A*11:01      452
DRB1*04:05       443
DRB1*11:01       410
DRB1*08:03       369
DRB1*01:01       345
DQA1*01:03       325
DQA1*03:01       324
DQB1*06:03       301
HLA-A*02:01      281
HLA-B*40:01      265
DQB1*05:02       249
DRB1*11:06       225
                ...
HLA-C*18:09        9
HLA-B*15:18        8
DQB1*03:69         7
HLA-B*15:25        6
HLA-B*55:02        6
HLA-B*35:05        5
HLA-B*15:07        5
HLA-C*08:01        5
HLA-C*03:02        4
HLA-C*03:04        4
HLA-A*11:02        4
HLA-A*02:17        3
HLA-B*46:01        3
HLA-B*15:35        2
DRB1*12:01         2
HLA-A*01:01        2
HLA-B*15:32        2
HLA-B*35:08        2
HLA-B*51:02        2
HLA-B*51:01        2
HLA-B*35:03        1
HLA-B*52:01        1
HLA-C*12:02        1
HLA-B*48:01        1
HLA-B*15:64        1
HLA-C*03:94        1
HLA-B*18:02        1
HLA-B*48:03        1
HLA-B*38:02        1
HLA-B*15:13        1
Name: HLA Allele, Length: 119, dtype: int64

In [30]:
res = df['Chromosome'].value_counts()
res.sort_index()

chr1     3190
chr10    1081
chr11    1778
chr12    1312
chr13     487
chr14     805
chr15     948
chr16    1233
chr17    1369
chr18     457
chr19    2396
chr2     2034
chr20     845
chr21     294
chr22     679
chr3     1700
chr4     1048
chr5     1187
chr6     1393
chr7     1405
chr8      917
chr9     1281
chrX      772
Name: Chromosome, dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28611 entries, 0 to 28610
Data columns (total 48 columns):
sample                       28611 non-null object
Chromosome                   28611 non-null object
Start                        28611 non-null int64
Stop                         28611 non-null int64
Reference                    28611 non-null object
Variant                      28611 non-null object
Transcript                   28611 non-null object
Transcript Support Level     26146 non-null float64
Ensembl Gene ID              28611 non-null object
Variant Type                 28611 non-null object
Mutation                     28611 non-null object
Protein Position             28611 non-null object
Gene Name                    28611 non-null object
HGVSc                        25212 non-null object
HGVSp                        25207 non-null object
HLA Allele                   28611 non-null object
Peptide Length               28611 non-null int64
Sub-peptide Position         28611 non-null int64
Mutation Position            28610 non-null float64
MT Epitope Seq               28611 non-null object
WT Epitope Seq               28235 non-null object
Best MT Score Method         28611 non-null object
Best MT Score                28611 non-null float64
Corresponding WT Score       28235 non-null float64
Corresponding Fold Change    28235 non-null float64
Tumor DNA Depth              0 non-null float64
Tumor DNA VAF                28611 non-null float64
Tumor RNA Depth              0 non-null float64
Tumor RNA VAF                0 non-null float64
Normal Depth                 0 non-null float64
Normal VAF                   0 non-null float64
Gene Expression              0 non-null float64
Transcript Expression        0 non-null float64
Median MT Score              28611 non-null float64
Median WT Score              28235 non-null float64
Median Fold Change           28235 non-null float64
MHCflurry WT Score           27493 non-null float64
MHCflurry MT Score           27856 non-null float64
MHCnuggetsI WT Score         8576 non-null float64
MHCnuggetsI MT Score         8719 non-null float64
PickPocket WT Score          7767 non-null float64
PickPocket MT Score          7895 non-null float64
NetMHC WT Score              3473 non-null float64
NetMHC MT Score              3564 non-null float64
SMM WT Score                 3319 non-null float64
SMM MT Score                 3404 non-null float64
SMMPMBEC WT Score            3319 non-null float64
SMMPMBEC MT Score            3404 non-null float64
dtypes: float64(28), int64(4), object(16)
memory usage: 10.5+ MB